<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="isDisplay">表示</div>
    <div v-if="signal === 'red'">red</div>
    <div v-else-if="signal === 'yellow'">yellow</div>
    <div v-else-if="signal === 'blue'">blue</div>
    <div v-else>赤青黄ではありません</div>
  </div>
  <script>
    let app = new Vue({
      el: '#app', //Virtual DOM
      data(){
        return {
          isDisplay: true,
          signal: 'red'
        }
      }
    })
  </script>
</body>
</html>